
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">

        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-expanded="true">Analytics</a>


    </div>
  </div>
</div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-hover">

    <h4>
      Total shop sales to date: <%= number_to_currency(@analytics.total_sales) %>. <br>
      Total completed orders: <%= @analytics.completed_orders %> <br>
      Average number of items per order: <%= @analytics.average_quantity_purchased %>
    </h4>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-hover">
        <thead>
          <tr>
            <th><i>Item<i></th>
            <th><center><i>Quantity Sold To-Date<i></center></th>
            <th><center><i>Sales To-Date<i></center></th>
          </tr>
        </thead>

        <tbody>
          <% @analytics.sales_by_item_title.each do |key, value| %>
          <tr>
            <th scope="row"><%= key %></th>
            <td><center><%= value %></center></td>
            <td><center><%= number_to_currency(Item.find_by(title: key).price * value) %></center></td>
          </tr>
          <% end %>
        </tbody>

          </table>
        </div>
      </div>
    </div>


</div>
